/*
Written by Joshua Fabian
jfabi@alum.mit.edu, joshuajfabian@gmail.com
*/

body {
    background-color: white;
    color: black;
    height: 100%;
    overflow: scroll;
    font-family: sans-serif;
}

line:hover {
    stroke-width: 8px;
    fill: rgb(250, 232, 255);
}

div.tooltip {	
    position: absolute;
    text-align: left;
    padding: 4px;
    font: 16px sans-serif;
    background: gray;
    border-radius: 8px;
    pointer-events: none;
}

h1 {
    font-family: Roboto, calibri, sans-serif;
    font-size: 42px;
}

h2 {
    font-family: Roboto, calibri, sans-serif;
    font-size: 20px;
    color: black;
    background-color: yellow;
    line-height: 22px;
}

.solid{
   stroke: solid;
}

.shuttled{
   stroke-dasharray: 6,3;
   animation: detourBlink 1s linear infinite;
}

.minorDelayed{
   animation: detourBlink 4s linear infinite;
}

.moderateDelayed{
   animation: detourBlink 2s linear infinite;
}

.severeDelayed{
   animation: detourBlink 1s linear infinite;
}

#statusText {
    margin-top: 28px;
    margin-bottom: -14px;
    font-family: Roboto, calibri, sans-serif;
    font-size: 20px;
}

td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

@keyframes detourBlink {
  50% {
    opacity: 0;
  }
}
